{% extends 'base.html' %}


{% block tituloweb %}
    Crear departamento con empleado
{% endblock tituloweb %}


{% block contenido %}

<div class="row">
    <div class="container-sm col-6">
        <div class="card mt-5">

            <div class="card-header">
                <h2>Crear departamento con empleado</h2>
            </div>

            
            <form class="form-control" action="" method="post">                
                
                <br>
                {% csrf_token %}

                <div class="row">
                    <div class="col-6">
                        <label for="">Nombre(s)</label>
                        {{ form.nombre}}
                    </div>
                    <div class="col-6">
                        <label for="">Apellido(s)</label>
                        {{ form.apellidos }}
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="col-6">
                        <label for="">Departamento</label>
                        {{ form.departamento }}
                    </div>
                    <div class="col-6">
                        <label for="">Nombre corto</label>
                        {{ form.nombrecorto}}
                    </div>
                </div>
                <br>
                    <!-- {{ form.as_p}} -->
                    
                <div align="right">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <a href="{% url 'departamento_app:listar' %}" class="btn btn-secondary">Cancelar</a>
                </div> 
                <br>

            </form>
              
        </div>
    </div> 
</div>  
<br>
<br>
<br>

{% endblock contenido %}
