<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar empleado por caja de texto</title>
</head>
<body>
    <h1>Buscar empleado por caja de texto</h1>
    
    <form action="" method="get">
        {% csrf_token %}

        <input type="text" id="kword" name="kword" placeholder="Nombre del empleado">
        <button type="submit">
            Buscar
        </button>
    </form>

    <h3>Lista de empleados encontrados</h3>
    
    <ul>        
        {% for emp in obj %}
            <li>
                {{ emp }}
            </li>
        {% endfor %}                    
    </ul>

</body>
</html>